.Rproj.user
.Rhistory
.RData
.Ruserdata
wifl_clean.gds
001-rad-seq-data-summaries-and-pca.html
outputs
wifl_manuscript_and_tables
.DS_Store
genome
002-select-snps-for-assays-from-rad.html
002-select-snps-for-assays-from-rad.nb.html
stored_run_times
/*.stderr
/*.stdout
Climate-data
