.Rproj.user
.Rhistory
.RData
.Ruserdata
wifl_clean.gds
001-rad-seq-data-summaries-and-pca.html
outputs
wifl_manuscript_and_tables
.DS_Store
genome
002-select-snps-for-assays-from-rad.html
002-select-snps-for-assays-from-rad.nb.html
stored_run_times
/*.stderr
/*.stdout
Climate-data
003-process-5-plates-of-birds-at-192-fluidigm-snps.nb.html
003-process-5-plates-of-birds-at-192-fluidigm-snps.html
slg_pipe
slg_pipe_binaries
slg_pipe_binaries.tar
004-combine-RAD-and-fludigm-breeders-and-run-STRUCTURE.nb.html
004-combine-RAD-and-fludigm-breeders-and-run-STRUCTURE.html
005-choosing-96-SNPs-from-amongst-the-179.html
005-choosing-96-SNPs-from-amongst-the-179.nb.html
geo-spatial
006-make-the-genoscape.html
006-make-the-genoscape.nb.html
